################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Dnyana.BookStore/.vs/Dnyana.BookStore
/Dnyana.BookStore/Dnyana.BookStore/bin/Debug/netcoreapp3.1
/Dnyana.BookStore/Dnyana.BookStore/obj
