<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Index</title>
    <link href="~/CSS/index.css" rel="stylesheet" />
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
    <body>
        <h1>Welcome to Book Store</h1>
        <input type="button" value="Hello" class="btn btn-primary"  />
        <img src="~/Images/logo.jpg" class="logo" alt="logo" />
    </body>
    <script src="~/lib/jquery/jquery.js"></script>
</html>
<script>
    $(document).ready(function () {
        alert("Hello");
    });

</script>
